<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  IgnorableNamespaces="uap rescap uap3">

  <Identity
    Name="LuigiPlacidi.ApriP7M"
    Publisher="CN=49CB2193-8833-4EE0-B011-626387CE17BD"
    Version="1.0.3.0" />

  <Properties>
    <DisplayName>Apri P7M</DisplayName>
    <PublisherDisplayName>Luigi Placidi</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.22621.0" />
  </Dependencies>

  <Resources>
    <Resource Language="it-IT" />
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="Apri P7M"
        Description="Apri, visualizza e converti file .p7m, XML e fatture elettroniche. Tutto resta sul tuo PC."
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" />
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>

      <Extensions>
        <!-- Associazioni file: aprire .p7m e .xml direttamente da Esplora risorse. -->
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="p7m">
            <uap:DisplayName>File firmato P7M</uap:DisplayName>
            <uap:SupportedFileTypes>
              <uap:FileType>.p7m</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="xml">
            <uap:DisplayName>Fattura elettronica XML</uap:DisplayName>
            <uap:SupportedFileTypes>
              <uap:FileType>.xml</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <!-- Nessuna capability di rete: l'app lavora offline. -->
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>

</Package>
